.top-row {
  padding: 1em 0 !important;
}

.mat-form-field {
  width: 100% !important;
}

.image-container {
  width: 200px !important;
  height: 200px !important;
  background-color: #F7f7f7 !important;
  border: 2px solid #CCC !important;
  border-radius: 50% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  overflow: hidden !important;
}

.image-container img {
  width: 200px !important;
}